---
layout: default
---


<div class="home">

  <!-- Desire to add home image
  <img src="/assets/images/fabrizio-conti-aExT3y92x5o-unsplash.jpg" alt="" class="header-image"> -->
  <!-- https://unsplash.com/photos/aExT3y92x5o -->
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% capture temptags %}
    {% for tag in site.tags %}
      #{{ tag[0] }}#
    {% endfor %}
  {% endcapture %}
  {% assign sortedtemptags = temptags | split:' ' | sort_natural %}
  <ul>
  {% for temptag in sortedtemptags %}
    {% assign tagitems = temptag | split: '#' %}
    {% capture tagname %}{{ tagitems[1] }}{% endcapture %}

    {% assign words = tagname | split: '-' %}
    {% capture titlecase %}
    {% for word in words %}

      {% if word.size <= 3 %}
        {{ word | upcase }}
      {% else %}
      {{ word | capitalize }}
      {% endif %}

    {% endfor %}{% endcapture %}

     <li style="display: inline-block; margin-right: 20px"><a href="/tag/{{ tagname }}"><em> {{ titlecase }} </em></a></li>
  {% endfor %}
  </ul>

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->

    <hr>

    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category!="misc" -%}
      <br>
      <li>

        {%- if post.image -%}
          <img src="{{ post.image | relative_url }}" alt="" class="blog-roll-image">
        {%- endif -%}

        {%- if post.header_image -%}
          <img src="{{ post.header_image | relative_url }}" alt="" class="blog-roll-image">
        {%- endif -%}

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>{{ post.date | date: date_format }}</span>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      <hr>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- Removed RSS FEEd -->
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
