---
layout: default
---

<div class="home">

  <!-- Desire to add home image
  <img src="/assets/images/fabrizio-conti-aExT3y92x5o-unsplash.jpg" alt="" class="header-image"> -->
  <!-- https://unsplash.com/photos/aExT3y92x5o -->
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

  {%- if page.image -%}
    <img src="{{ page.image | relative_url }}" alt="" class="featured-image-post">
    <br><br>
  {%- endif -%}
  <h1 class="page-heading"> A Garden of Things </h1>

  <hr>
  <br>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->

    <ul class="post-list-2">
      {%- for post in site.posts -%}
      {%- if post.category=="misc" -%}

      <li>
        {%- if post.header_image -%}
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} 
          <span class="post-meta">
            <img src="{{ post.header_image | relative_url }}" alt="" class="blog-roll-image">
            <a class="post-link-2" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>{{ post.date | date: date_format }}
          </span>
          <br>
        {% else %}
          <span class="post-meta"><a class="post-link-2" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
        {%- endif -%}
        <!-- {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%} -->
      </li>

      {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- Removed RSS FEEd -->
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
